@mixin base-style {
    width: 100%;
    padding: 0.5rem;
    font: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    background-color: theme(white);
    border: 1px solid theme(primary);
    border-radius: border-radius();
    color: inherit;

    &.small {
        width: 25%;
        min-width: 180px;
    }

    &:focus {
        box-shadow: 0 0 0 1px theme(tertiary);
    }
}

input {
    &[type=text],
    &[type=password] {
        @include base-style();
    }
}

textarea {
    @include base-style();
    line-height: inherit;
    resize: vertical;
    min-height: 8rem;
}
