button,
.button
{
    display: inline-block;
    padding: 0.25rem 1.5rem;
    font: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color $duration-short;
    
    @include set-text-colour('white');
    @include set-background-colour('theme');
    @include set-border-colour('dark-grey');
    
    &:hover,
    &:focus
    {
        @include set-background-colour('theme-mono');
    }
    
    &.grey-button
    {
        @include set-background-colour('white');
        @include set-border-colour('dark-grey');
        @include set-text-colour('black');
        
        &:hover,
        &:focus
        {
            @include set-background-colour('light-grey');
        }
    }
    
    &:disabled
    {
        @include set-background-colour('light-grey');
        @include set-text-colour('dark-grey');

        &.loading
        {
          color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/resources/images/icons/loading.svg);
        }
    }
    
    .svg-icon
    {
        vertical-align: middle;
    }

    &.danger
    {
        @include set-background-colour('error');

        &:hover
        {
            @include set-background-colour('error-mono');
        }
    }
}