button,
.button
{
    display: inline-block;
    padding: 0.25rem 1.5rem;
    font: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color $duration-short;
    
    @include set-text-colour('white');
    @include set-background-colour('theme');
    @include set-border-colour('dark-grey');
    
    &:hover,
    &:focus
    {
        @include set-background-colour('theme-mono');
    }
}