input
{
    display: inline-block;
    font: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    padding: 0.25rem 0.5rem;
    vertical-align: middle;
    outline: none;
    transition: background-color $duration-short;
    
    @include set-border-colour('theme');
    
    &:focus
    {
        @include set-background-colour('light-grey');
    }
}