table
{
    border-collapse: collapse;
    table-layout: fixed;
    
    @include set-background-colour('pure-white');
    
    th,
    td
    {
        padding: 1rem;
        
        @include set-border-colour('dark-grey');
    }
    
    th
    {
        font-weight: normal;
        
        @include set-text-colour('theme');
    }
    
    td
    {
        text-align: center;
    }
    
    &.overflow-scroll
    {
        display: block;
        overflow-x: auto;
    }
}