table
{
    width: 540px;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    
    @include set-background-colour('pure-white');
    
    thead th
    {
        font-weight: bold;
        
        @include set-background-colour('theme');
        @include set-border-colour('theme');
        @include set-text-colour('white');
    }
    
    th,
    td
    {
        padding: 1rem;
        
        @include set-border-colour('dark-grey');
    }
    
    th
    {
        text-align: left;
        font-weight: normal;
        
        @include set-text-colour('theme');
    }
    
    &.overflow-scroll
    {
        display: block;
        overflow-x: auto;
    }
}