@each $name, $colour in $colours
{
    .border-#{$name},
    .hover-border-#{$name}:hover
    {
        border: 1px solid $colour;
        border: 1px solid var(--#{$name}, $colour);
    }
}

@mixin set-border-colour($name)
{
    $colour: get-colour($name);
    
    border: 1px solid $colour;
    border: 1px solid var(--#{$name}, $colour);
}