input[type=text],
input[type=password],
textarea {
    max-width: 100%;
    padding: 0 0.5rem;
    background-color: theme(white);
    border: 1px solid theme(primary);
    border-radius: layout(border-radius);
    font: inherit;

    &:focus {
        border-color: theme(tertiary);
    }
}

textarea {
    resize: vertical;
    min-height: 5rem;
}