html,
body
{
    height: 100%;
}

body
{
    margin: 0;
    font-family: "Heebo", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.8em;
    
    @include set-background-colour('white');
    @include set-text-colour('black');
}