@mixin base-style {
    width: 100%;
    padding: 0.5rem;
    font: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    background-color: theme(white);
    border: 1px solid theme(primary);
    border-radius: border-radius();
    color: inherit;

    &.small {
        width: 25%;
        min-width: 180px;
    }

    &:focus {
        box-shadow: 0 0 0 1px theme(tertiary);
    }
}

input {
    &[type=text],
    &[type=password],
    &[type=date] {
        @include base-style();
    }

    &[type=file] {
        display: none;

        & + label {
            width: 100%;
            padding: (0.75rem - 0.4rem) 1rem;
            font: inherit;
            letter-spacing: inherit;
            background-color: theme(primary);
            border: 1px solid theme(tertiary);
            border-radius: border-radius();
            color: theme(white);
            cursor: pointer;
            text-align: center;
            transition: all animation(duration-short);

            &:hover {
                background-color: theme(primary-dark);
            }
        }
    }
}

textarea {
    @include base-style();
    line-height: inherit;
    resize: vertical;
    min-height: 8rem;
}
