.note {
    padding: 1rem;
    border: 1px solid theme(tertiary);
    border-left: 3px solid theme(primary);
    border-radius: border-radius();

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}
