table {
    width: 100%;
    max-width: 32rem;
    margin: 1rem auto;
    border: 1px solid theme(grey-dark);
    border-radius: border-radius();
    border-spacing: 0;
    overflow: hidden;

    &.hoverable {
        tr {
            &:hover {
                td {
                    background-color: theme(grey);
                }
            }
        }
    }

    tr {
        td {
            &:first-child {
                border-top-left-radius: border-radius();
                border-bottom-left-radius: border-radius();
            }
            
            &:last-child {
                border-top-right-radius: border-radius();
                border-bottom-right-radius: border-radius();
            }
        }
    }

    th {
        padding: 0.25rem 0.5rem;
        text-align: left;
        background-color: theme(grey-dark);
    }

    td {
        padding: 0.25rem 0.5rem;
        text-align: left;
    }
}