$colours: (
    white: #fff,
    black-light: #888,
    black: #555,
    black-dark: #222,

    grey-light: #f8f8f8,
    grey: #f2f2f2,
    grey-dark: #ddd,

    primary-light: #eff6fd,
    primary: #176bc0,
    primary-dark: darken(#176bc0, 10%),

    secondary-light: lighten(#17c06c, 10%),
    secondary: #17c06c,
    secondary-dark: darken(#17c06c, 10%),

    tertiary-light: lighten(#8e1aa3, 10%),
    tertiary: #8e1aa3,
    tertiary-dark: darken(#8e1aa3, 10%),

    negative-light: lighten(#b22, 10%),
    negative: #b22,
    negative-dark: darken(#b22, 10%),
);

$layouts: (
    max-width: 720px,
    border-radius: 3px,
    aside-nav-width: 25%,
);

@function theme($colour) {
    @if map-has-key($colours, $colour) {
        @return map-get($colours, $colour);
    }
    @else {
        @return map-get($colours, black);
    }
}

@function layout($layout) {
    @if map-has-key($layouts, $layout) {
        @return map-get($layouts, $layout);
    }
}