$COLOURS:
(
    "WHITE":        #fff,
    "BLACK":        #202020,
    
    "ERROR":        #c01717,
    "WARNING":      #ffb400,
    "SUCCESS":      #6cc017,
    
    "THEME-L5":     #eff6fd,
    "THEME-L4":     #cae1f9,
    "THEME-L3":     #95c4f3,
    "THEME-L2":     #60a6ec,
    "THEME-L1":     #2b89e6,
    "THEME":        #176bc0,
    "THEME-D1":     #1460ad,
    "THEME-D2":     #125699,
    "THEME-D3":     #125699,
    "THEME-D4":     #0d4073,
    "THEME-D5":     #0b3660,
    
    "SECONDARY":    #4217c0,
    "TERTIARY":     #FF9E0C
);

@function GET-COLOUR($value)
{
    @if map-has-key($COLOURS, $value)
    {
        @return map-get($COLOURS, $value);
    }
    @return null;
}

@each $name, $colour in $COLOURS
{
    .bg-#{to-lower-case($name)}
    {
        background-color: #{$colour};
        
        @if (lightness($colour) < 66)
        {
            color: GET-COLOUR("WHITE");
            
            h1, h2, h3, h4, h5, h6
            {
                color: GET-COLOUR("WHITE");
            }
        }
    }
}

@each $name, $colour in $COLOURS
{
    .border-#{to-lower-case($name)}
    {
        border: 1px solid #{$colour};
    }
}