hr
{
    width: 100%;
    height: 1px;
    border: 0;
    background-color: GET-COLOUR("THEME-L2");
}

img
{
    max-width: 100%;
}

button, input
{
    padding: 0.75em;
    vertical-align: middle;
    background-color: GET-COLOUR("WHITE");
    border: 1px solid GET-COLOUR("THEME");
    outline: none;
}

button
{
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom-width: 2px;
    transition: background-color $duration-short, color $duration-short;
    cursor: pointer;
    
    &:hover, &:focus
    {
        background-color: GET-COLOUR("THEME");
        color: GET-COLOUR("WHITE");
    }
    
    &:disabled
    {
        background-color: GET-COLOUR("THEME-L5");
        
        &.loading
        {
            color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('data:image/svg+xml;utf8,<svg class="lds-spin" preserveAspectRatio="xMidYMid" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g transform="translate(65,50)"><circle transform="scale(1.005)" r="3.5" fill="#176bc0"><animateTransform attributeName="transform" begin="-0.9777777777777779s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.9777777777777779s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g><g transform="translate(61.491 59.642)"><g transform="rotate(40)"><circle transform="scale(1.0162)" r="3.5" fill="#176bc0" fill-opacity=".88889"><animateTransform attributeName="transform" begin="-0.8555555555555556s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.8555555555555556s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(52.605 64.772)"><g transform="rotate(80)"><circle transform="scale(1.0273)" r="3.5" fill="#176bc0" fill-opacity=".77778"><animateTransform attributeName="transform" begin="-0.7333333333333334s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.7333333333333334s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(42.5 62.99)"><g transform="rotate(120)"><circle transform="scale(1.0384)" r="3.5" fill="#176bc0" fill-opacity=".66667"><animateTransform attributeName="transform" begin="-0.6111111111111112s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.6111111111111112s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(35.905 55.13)"><g transform="rotate(160)"><circle transform="scale(1.0495)" r="3.5" fill="#176bc0" fill-opacity=".55556"><animateTransform attributeName="transform" begin="-0.48888888888888893s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.48888888888888893s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(35.905 44.87)"><g transform="rotate(200)"><circle transform="scale(1.0606)" r="3.5" fill="#176bc0" fill-opacity=".44444"><animateTransform attributeName="transform" begin="-0.3666666666666667s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.3666666666666667s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(42.5 37.01)"><g transform="rotate(240)"><circle transform="scale(1.0717)" r="3.5" fill="#176bc0" fill-opacity=".33333"><animateTransform attributeName="transform" begin="-0.24444444444444446s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.24444444444444446s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(52.605 35.228)"><g transform="rotate(280)"><circle transform="scale(1.0828)" r="3.5" fill="#176bc0" fill-opacity=".22222"><animateTransform attributeName="transform" begin="-0.12222222222222223s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.12222222222222223s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(61.491 40.358)"><g transform="rotate(320)"><circle transform="scale(1.0939)" r="3.5" fill="#176bc0" fill-opacity=".11111"><animateTransform attributeName="transform" begin="0s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="0s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g></svg>');
        }
    }
}

button.circle
{
    border-radius: 50%;
}

.text-input-container
{
    max-width: 100%;
    display: table;
    border: 1px solid GET-COLOUR("THEME");
    background-color: GET-COLOUR("WHITE");
    text-align: left;
    overflow: hidden;
    
    input[type=text], input[type=password]
    {
        width: 320px;
        max-width: 100%;
        outline: none;
        border: 0;
        border-left: 1px solid GET-COLOUR("THEME-L5");
        
        &:focus
        {
            outline: none;
        }
    }
}

input[type=text], input[type=password]
{
    outline: 1px solid transparent;
    outline-offset: 0px;
    transition: outline $duration-short;
}

input[type=text]:focus, input[type=password]:focus
{
    outline: 1px solid GET-COLOUR("THEME");
}

table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid GET-COLOUR("THEME");
    
    tr
    {
        background-color: GET-COLOUR("LIGHT-GREY");
        
        &:nth-child(even)
        {
            background-color: GET-COLOUR("THEME-L4");
        }
    }
    
    thead th
    {
        padding: 15px 5px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
        background-color: GET-COLOUR("THEME"); 
        color: GET-COLOUR("WHITE");
    }
    
    tbody
    {
        background-color: GET-COLOUR("WHITE");
        
        td
        {
            padding: 10px 5px;
        }
    }
}

blockquote, .note-theme, figure figcaption
{
    padding: 1em 1.5em;
    text-align: left;
    border-left: 5px solid GET-COLOUR("THEME");
    background-color: GET-COLOUR("THEME-L5");
}

blockquote
{
    margin: 1em 0;
    font-style: italic;
    
    footer
    {
        font-style: normal;
        
        &:before
        {
            content: '- ';
        }
    }
}

figure
{
    margin: 1em 0;
    
    figcaption
    {
        margin-top: 1em;
    }
}

code.block
{
    margin: 1em 0;
    padding-right: 1em;
    display: block;
    white-space: normal;
    border: 1px solid GET-COLOUR("THEME-L4");
    border-left: 5px solid GET-COLOUR("THEME");
    background-color: GET-COLOUR("WHITE");
    counter-reset: line-number;
    
    p
    {
        counter-increment: line-number;
        margin: 0;
        white-space: pre-wrap;
        
        &:first-child
        {
            padding-top: 1em;
        }
        
        &:last-child
        {
            padding-bottom: 1em;
        }
        
        &:before
        {
            content: counter(line-number);
            height: 100%;
            display: table;
            float: left;
            padding: 0 1em;
            margin-right: 1em;
            border-right: 1px solid GET-COLOUR("THEME-L4");
        }
    }
}

input[type="checkbox"].hidden
{
    display: none;
}

input[type="checkbox"].hidden + label
{
    width: 1.75em;
    height: 1.75em;
    margin-right: 0.5em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: GET-COLOUR("THEME-L5");
    border: 1px solid GET-COLOUR("THEME-L4");
    border-radius: 50%;
    cursor: pointer;
    transition: border-color $duration-short, background-color $duration-short;
}

input[type="checkbox"].hidden:checked + label
{
    background-color: GET-COLOUR("THEME");
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"].hidden:checked + label:after
{
    content: '\1F5F8';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    color: #fff;
    transform: translateY(-50%);
}

.magnify
{
    position: relative;
    
    .icon
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity $duration-mid;
    }
    
    img
    {
        transition: filter $duration-mid;
    }
    
    .blur-container
    {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        opacity: 0;
        pointer-events: none;
        background-color: white;
        transition: opacity $duration-mid;
    }
    
    &:hover
    {
        .blur-container { opacity: 0.4; }
        .icon { opacity: 1; }
    }
}

.info-message
{
    min-height: 2em;
}