.my-face
{
    width: 15em;
    max-width: 100%;
    height: 15em;
    margin: 0 auto;
    background-image: url(/resources/images/will.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

i.circle
{
    width: 4em;
    height: 4em;
    display: inline-block;
    border-radius: 50%;
    background-color: GET-COLOUR("WHITE");
}

i.icon
{
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

i.username
{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1"><g fill="#176bc0"><path d="M 25 8.332031 C 20.398438 8.332031 16.667969 12.0625 16.667969 16.667969 C 16.667969 21.269531 20.398438 25 25 25 C 29.601563 25 33.332031 21.269531 33.332031 16.667969 C 33.332031 12.0625 29.601563 8.332031 25 8.332031 Z M 25 29.167969 C 12.292969 29.167969 8.332031 37.5 8.332031 37.5 L 8.332031 41.667969 L 41.667969 41.667969 L 41.667969 37.5 C 41.667969 37.5 37.707031 29.167969 25 29.167969 Z "></path></g></svg>');
}

i.password
{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path fill="#176bc0" d="M 12 0 C 8.6983746 0 6 2.6983746 6 6 L 6 11 L 3 11 L 3 24 L 21 24 L 21 11 L 18 11 L 18 6 C 18 2.6983746 15.301625 0 12 0 z M 12 2 C 14.220375 2 16 3.7796254 16 6 L 16 11 L 8 11 L 8 6 C 8 3.7796254 9.7796254 2 12 2 z"></path></svg>');
}

i.loading
{
    background-image: url('data:image/svg+xml;utf8,<svg class="lds-spin" preserveAspectRatio="xMidYMid" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g transform="translate(65,50)"><circle transform="scale(1.005)" r="3.5" fill="#176bc0"><animateTransform attributeName="transform" begin="-0.9777777777777779s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.9777777777777779s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g><g transform="translate(61.491 59.642)"><g transform="rotate(40)"><circle transform="scale(1.0162)" r="3.5" fill="#176bc0" fill-opacity=".88889"><animateTransform attributeName="transform" begin="-0.8555555555555556s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.8555555555555556s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(52.605 64.772)"><g transform="rotate(80)"><circle transform="scale(1.0273)" r="3.5" fill="#176bc0" fill-opacity=".77778"><animateTransform attributeName="transform" begin="-0.7333333333333334s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.7333333333333334s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(42.5 62.99)"><g transform="rotate(120)"><circle transform="scale(1.0384)" r="3.5" fill="#176bc0" fill-opacity=".66667"><animateTransform attributeName="transform" begin="-0.6111111111111112s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.6111111111111112s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(35.905 55.13)"><g transform="rotate(160)"><circle transform="scale(1.0495)" r="3.5" fill="#176bc0" fill-opacity=".55556"><animateTransform attributeName="transform" begin="-0.48888888888888893s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.48888888888888893s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(35.905 44.87)"><g transform="rotate(200)"><circle transform="scale(1.0606)" r="3.5" fill="#176bc0" fill-opacity=".44444"><animateTransform attributeName="transform" begin="-0.3666666666666667s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.3666666666666667s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(42.5 37.01)"><g transform="rotate(240)"><circle transform="scale(1.0717)" r="3.5" fill="#176bc0" fill-opacity=".33333"><animateTransform attributeName="transform" begin="-0.24444444444444446s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.24444444444444446s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(52.605 35.228)"><g transform="rotate(280)"><circle transform="scale(1.0828)" r="3.5" fill="#176bc0" fill-opacity=".22222"><animateTransform attributeName="transform" begin="-0.12222222222222223s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="-0.12222222222222223s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g><g transform="translate(61.491 40.358)"><g transform="rotate(320)"><circle transform="scale(1.0939)" r="3.5" fill="#176bc0" fill-opacity=".11111"><animateTransform attributeName="transform" begin="0s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" type="scale" values="1.1 1.1;1 1"/><animate attributeName="fill-opacity" begin="0s" dur="1.1s" keyTimes="0;1" repeatCount="indefinite" values="1;0"/></circle></g></g></svg>');
}

i.plus
{
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" version="1.1" viewBox="0 0 4.2333332 4.2333334" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -292.77)" fill="" stroke="#176bc0" stroke-width=".26458px"><path d="m2.1167 293.03v3.7042"/><path d="m.26458 294.88h3.7042"/></g></svg>');
}

i.cross
{
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" version="1.1" viewBox="0 0 4.2333332 4.2333334" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -292.77)" stroke="#c01717" stroke-width=".26458"><path d="m2.6458 293.56v-.26458h-1.0583v.26458" fill="#c01717"/><path d="m3.7042 294.09-1e-7-.52917h-3.175l1e-8.52917z" fill="#c01717"/><g fill="none"><path d="m.79375 294.09v2.3812h2.6458v-2.3812"/><path d="m1.3229 294.62c0 .42182-1e-7.78863 0 1.3229"/><path d="m2.1167 294.62 1e-7 1.3229"/><path d="m2.9104 294.62v1.3229"/></g></g></svg>');
}

i.pencil
{
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" version="1.1" viewBox="0 0 4.2333332 4.2333335" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -292.77)" fill="none" stroke="#176bc0" stroke-width=".26458px"><path d="m3.4396 293.03.52917.52917-2.6458 2.6458-.79375.26459.26458-.79375z"/><path d="m.79375 295.68.52917.52916"/><path d="m2.9104 293.56.52917.52917"/></g></svg>');
}

i.info
{
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" version="1.1" viewBox="0 0 4.2333332 4.2333335" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -292.77)"><ellipse cx="2.1167" cy="294.88" rx="1.5875" ry="1.6069" fill="#176bc0" stroke="#176bc0" stroke-linecap="round" stroke-width=".529" style="paint-order:normal"/><circle cx="2.1167" cy="293.83" r=".26458" fill="#fff" style="paint-order:normal"/><rect x="1.8521" y="294.62" width=".52917" height="1.3229" fill="#fff" style="paint-order:markers fill stroke"/></g></svg>');
}