$duration-short: 0.2s;
$duration-mid: 0.5s;
$duration-long: 0.7s;

$base-size: 15px;

$breakpoint-small: 540px;
$breakpoint-large: 720px;

@import "partials/fonts";
@import "partials/colours";
@import "partials/icons";
@import "partials/elements";

html, body
{
    min-height: 100%;
}

body
{
    margin: 0;
    line-height: 2em;
    background-color: GET-COLOUR("THEME-L4");
    color: GET-COLOUR("BLACK");
}

body, button, input
{
    font-family: $font-primary, $font-fallback;
    letter-spacing: 1px;
}

body, input
{
    font-size: $base-size;
}

a
{
    text-decoration: none;
    color: inherit;
}

*, *:before, *:after
{
    box-sizing: border-box;
}

.clearfix:after
{
    content: '';
    display: table;
    clear: both;
}

.float-l { float: left; }
.float-r { float: right; }

.unselectable
{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 

.text-centered { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify, .text-justify-l, .text-justify-r { text-align: justify; }
.text-justify-c { text-align-last: center; }
.text-justify-r { text-align-last: right; }

$sizes:
(
    "small": $base-size,
    "regular": ($base-size * 2),
    "mid": ($base-size * 4),
    "large": ($base-size * 6),
    "xlarge": ($base-size * 8)
);

@each $name, $size in $sizes
{
    .vpadding-#{$name}
    {
        padding-top: $size;
        padding-bottom: $size;
    }
    
    .hpadding-#{$name}
    {
        padding-left: $size;
        padding-right: $size;
    }
    
    .vmargin-#{$name}
    {
        margin-top: $size;
        margin-bottom: $size;
    }
    
    .hmargin-#{$name}
    {
        margin-left: $size;
        margin-right: $size;
    }
}

.content-width
{
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

.content-width-small
{
    width: 720px;
    max-width: 100%;
    margin: 0 auto;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
{
    float: left;
}

@media screen and (max-width: $breakpoint-large)
{
    .col-1, .col-2, .col-3, .col-4, .col-5
    {
        width: 50%;
        
        &:not(:nth-child(-n+2))
        {
            padding-top: 2em
        }
    }
}

@media screen and (max-width: $breakpoint-small)
{
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
    {
        width: 100%;
        
        &:not(:first-child)
        {
            padding-top: 2em
        }
    }
}

.cell-row
{
    width: 100%;
    display: table;
    
    &.dynamic
    {
        table-layout: fixed;
    }
}

.scroll-fade-in.show
{
    animation: fade-in $duration-mid;
}

@keyframes fade-in
{
    from { opacity: 0; }
    to { opacity: 1; }
}

.section + .section
{
    margin-top: ($base-size * 2);
}

.section + .title-bar
{
    margin-top: 1px;
}

.cell
{
    display: table-cell;
    vertical-align: top;
    
    &.l1 { width: 8.33%; }
    &.l2 { width: 16.66%; }
    &.l3 { width: 25%; }
    &.l4 { width: 33.33%; }
    &.l5 { width: 41.66%; }
    &.l6 { width: 50%; }
    &.l7 { width: 58.33%; }
    &.l8 { width: 66.66%; }
    &.l9 { width: 75%; }
    &.l10 { width: 83.33%; }
    &.l11 { width: 91.66%; }
    &.l12 { width: 100%; display: block; }
    
    @media screen and (max-width: $breakpoint-large)
    {
        &.m1 { width: 8.33%; }
        &.m2 { width: 16.66%; }
        &.m3 { width: 25%; }
        &.m4 { width: 33.33%; }
        &.m5 { width: 41.66%; }
        &.m6 { width: 50%; }
        &.m7 { width: 58.33%; }
        &.m8 { width: 66.66%; }
        &.m9 { width: 75%; }
        &.m10 { width: 83.33%; }
        &.m11 { width: 91.66%; }
        &.m12 { width: 100%; display: block; }
    }
    
    @media screen and (max-width: $breakpoint-small)
    {
        &.s1 { width: 8.33%; }
        &.s2 { width: 16.66%; }
        &.s3 { width: 25%; }
        &.s4 { width: 33.33%; }
        &.s5 { width: 41.66%; }
        &.s6 { width: 50%; }
        &.s7 { width: 58.33%; }
        &.s8 { width: 66.66%; }
        &.s9 { width: 75%; }
        &.s10 { width: 83.33%; }
        &.s11 { width: 91.66%; }
        &.s12 { width: 100%; display: block; }
    }
}

.cell-top { vertical-align: top; }
.cell-middle { vertical-align: middle; }
.cell-bottom { vertical-align: bottom; }

.cell-1 { width: 8.33%; }
.cell-2 { width: 16.66%; }
.cell-3 { width: 25%; }
.cell-4 { width: 33.33%; }
.cell-5 { width: 41.66%; }
.cell-6 { width: 50%; }
.cell-7 { width: 58.33%; }
.cell-8 { width: 66.66%; }
.cell-9 { width: 75%; }
.cell-10 { width: 83.33%; }
.cell-11 { width: 91.66%; }
.cell-12 { width: 100%; }

h1, h2, h3, h4
{
    font-family: $font-secondary, $font-primary, $font-fallback;
    line-height: 1.5em;
    margin: 1em 0;
}

h1, h2, h3
{
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1, h2
{
    color: GET-COLOUR("THEME");
}

h3, h4
{
    color: GET-COLOUR("THEME-D2");
    font-weight: normal;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.2em; }

.fancy-header
{
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: transform $duration-long;

    &:before, &:after
    {
        content: '';
        position: absolute;
        width: 0.75em;
        height: 0.75em;
        transition: transform $duration-mid;
    }

    &:before
    {
        border-top: 2px solid GET-COLOUR("WHITE");
        border-left: 2px solid GET-COLOUR("WHITE");
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-0.5em, -0.5em);
    }

    &:after
    {
        border-bottom: 2px solid GET-COLOUR("WHITE");
        border-right: 2px solid GET-COLOUR("WHITE");
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0.5em, 0.5em);
    }

    &:hover
    {
        transform: scale(1.05);

        &:before
        {
            transform: translate(-0.75em, -0.75em) scale(1.25);
        }

        &:after
        {
            transform: translate(0.75em, 0.75em) scale(1.25);
        }
    }
}

p, h1, h2, h3, h4, ul, ol, blockquote, figure
{
    &:first-child
    {
        margin-top: 0;
    }
    
    &:last-child
    {
        margin-bottom: 0;
    }
}

header[role=header]
{
    h1
    {
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 0;
        text-transform: none;
    }
    
    .header-nav-button
    {
        width: ($base-size * 2);
        height: ($base-size * 2);
        padding: 0;
        border: 0;
        background-color: transparent;
        display: none;
        cursor: default;

        &:hover
        {
            background-color: inherit;
        }

        .bar-1, .bar-2, .bar-3
        {
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: GET-COLOUR("WHITE");
            transition: transform $duration-short, opacity $duration-short;
        }
        
        .bar-1
        {
            top: 1px;
            left: 0;
        }
        
        .bar-2
        {
            top: 50%;
            left: 0;
        }
        
        .bar-3
        {
            bottom: 0;
            left: 0;
        }
    }
    
    nav
    {
        > a
        {
            font-size: 0.85em;
            text-transform: uppercase;
            
            &.active
            {
                background-color: GET-COLOUR("THEME");
                color: GET-COLOUR("TERTIARY");
            }
        }
    }
    
    .sublinks-container
    {
        display: none;
        
        ul
        {
            list-style: none;
        }
        
        a
        {
            transition: color $duration-short;
            
            &:hover
            {
                color: GET-COLOUR("TERTIARY");
            }
        }
    }
    
    &.open .header-nav-button
    {
        .bar-1
        {
            transform: translateY(13.5px) rotate(45deg);
            transform-origin: center;
        }
        
        .bar-2
        {
            opacity: 0;
        }
        
        .bar-3
        {
            transform: translateY(-13.5px) rotate(-45deg);
            transform-origin: center;
        }
    }
}

@media (max-width: $breakpoint-large)
{
    header[role=header]
    {
        h1.float-l, nav.float-r
        {
            float: none;
        }
        
        .header-nav-button
        {
            display: initial;
        }
        
        nav
        {
            display: none;
        }
        
        &.open nav
        {
            display: block;
        }
    }
    
    header[role=header] nav > a
    {
        width: 33.33%;
        text-align: center;
    }
}

@media (max-width: $breakpoint-small)
{
    header[role=header] nav > a
    {
        width: 50%;
        text-align: center;
        border-top: 1px solid GET-COLOUR("THEME");
    }
}

header[role=header] .sublinks-container
{
    width: 100%;
    position: absolute;
    top: ($base-size * 6);
    left: 0;
    z-index: 1;
}

footer[role=footer]
{
    .navigation
    {
        a
        {
            &:not(:last-child)
            {
                margin-right: 1em;
            }
        }
    }
}

.main-page
{
    min-height: 498px;
}

a.underline
{
    display: inline-block;
    position: relative;
    color: GET-COLOUR("THEME");

    &:after
    {
        content: '';
        display: table;
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 50%;
        background-color: GET-COLOUR("THEME");
        opacity: 0;
        transition: 0.2s;
    }

    &:hover:after
    {
        opacity: 1;
        width: 100%;
        left: 0;
    }
}

a.site-nav, header nav > a
{
    display: inline-block;
    transition: color $duration-short;
    
    &:hover
    {
        color: GET-COLOUR("TERTIARY");
    }
}

.title-bar
{
    .return-link
    {
        transition: color $duration-short;
        
        &:before
        {
            content: '\1f818';
            margin-right: 0.5em;
        }
        
        &:hover
        {
            color: GET-COLOUR("THEME");
        }
    }
}

.scroll-top-button
{
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    padding: 0;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
    transition: opacity $duration-mid;
    
    &.scroll-top-hidden
    {
        opacity: 0;
        pointer-events: none;
    }
    
    @media (max-width: $breakpoint-small)
    {
        right: 50%;
        transform: translateX(50%);
    }
}