$sizes:
(
    'small': 1rem,
    'regular': 2rem,
    'mid': 4rem,
    'large': 6rem,
    'xlarge': 8rem,
);

@each $name, $size in $sizes
{
    .vmargin-#{$name}
    {
        margin-top: $size;
        margin-bottom: $size;
    }
    
    .hmargin-#{$name}
    {
        margin-left: $size;
        margin-right: $size;
    }
    
    .margin-#{$name}
    {
        margin: $size;
    }
}

.margin-centered
{
    margin-left: auto;
    margin-right: auto;
}