body > header
{
    margin-left: $nav-width;
    border-bottom: 1px solid get-colour('dark-grey');
    border-bottom: 1px solid var(--dark-grey);
    
    @include set-background-colour('light-grey');
    
    @media screen and (max-width: $breakpoint-large)
    {
        margin-left: 0;
    }
}