$header-height: 243px;
$footer-height: 117px;

$content-height: $header-height + $footer-height;

body > main
{
    min-height: calc(100% - #{$content-height});
    margin-left: $nav-width;
    
    @media screen and (max-width: $breakpoint-large)
    {
        margin-left: 0;
    }
}