main
{
    height: 100%;
    margin-left: 8rem;
}

main > article
{
    padding: 4rem 2rem;
    min-height: calc(100% - 213px - 123px);
}

@media screen and (max-width: $breakpoint-large)
{
    main
    {
        margin-left: 0;
    }
    
    main > article
    {
        min-height: calc(100% - 213px - 123px - 4rem);
    }
}