nav
{
    width: $nav-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    
    @include set-text-colour('white');
    
    .home-button
    {
        width: 4rem;
        height: 4rem;
        font-size: 1rem;
        line-height: 4rem;
        text-align: center;
        border-radius: 50%;
        box-shadow: $shadow-small;
        transform: translate(6rem, 13.172rem);
        cursor: pointer;
        transition: background-color $duration-short;
    
        @include set-background-colour('secondary');
        @include set-text-colour('white');
        
        &:hover
        {
            @include set-background-colour('secondary-mono');
        }
        
        .svg-icon
        {
            vertical-align: middle;
        }
    }
    
    .links
    {
        list-style: none;
        padding-left: 1rem;
        padding-right: 1rem;
        transform: translateY(14.17rem);
        
        li
        {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            
            a
            {
                transition: color $duration-short;
            
                .svg-icon
                {
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }
                
                &:hover
                {
                    @include set-text-colour('secondary');
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-large)
{
    nav
    {
        width: 100%;
        height: 4rem;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        z-index: 1;
        
        .home-button
        {
            position: absolute;
            top: 2rem;
            right: 2rem;
            margin-top: 0;
            margin-left: 0;
        }
    }
}