.column-container
{
    &::after
    {
        content: '';
        display: table;
        clear: both;
    }
}

.column
{
    float: left;
}

.column.l1 { width: 8.33%; }
.column.l2 { width: 16.66%; }
.column.l3 { width: 25%; }
.column.l4 { width: 33.33%; }
.column.l5 { width: 41.66%; }
.column.l6 { width: 50%; }
.column.l7 { width: 58.33%; }
.column.l8 { width: 66.66%; }
.column.l9 { width: 75%; }
.column.l10 { width: 83.33%; }
.column.l11 { width: 91.66%; }
.column.l12 { width: 100%; }

@media screen and (max-width: $breakpoint-large)
{
    .column.m1 { width: 8.33%; }
    .column.m2 { width: 16.66%; }
    .column.m3 { width: 25%; }
    .column.m4 { width: 33.33%; }
    .column.m5 { width: 41.66%; }
    .column.m6 { width: 50%; }
    .column.m7 { width: 58.33%; }
    .column.m8 { width: 66.66%; }
    .column.m9 { width: 75%; }
    .column.m10 { width: 83.33%; }
    .column.m11 { width: 91.66%; }
    .column.m12 { width: 100%; }
}

@media screen and (max-width: $breakpoint-small)
{
    .column.s1 { width: 8.33%; }
    .column.s2 { width: 16.66%; }
    .column.s3 { width: 25%; }
    .column.s4 { width: 33.33%; }
    .column.s5 { width: 41.66%; }
    .column.s6 { width: 50%; }
    .column.s7 { width: 58.33%; }
    .column.s8 { width: 66.66%; }
    .column.s9 { width: 75%; }
    .column.s10 { width: 83.33%; }
    .column.s11 { width: 91.66%; }
    .column.s12 { width: 100%; }
}