.content-width
{
    width: $page-width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p
{
    max-width: 540px;
}

.full-height
{
    position: relative;
    height: 100%;
}

.section + .section
{
    margin-top: 2rem;
}

.full-section
{
    border-top: 1px solid get-colour('dark-grey');
    border-top: 1px solid var(--dark-grey, get-colour('dark-grey'));
    border-bottom: 1px solid get-colour('dark-grey');
    border-bottom: 1px solid var(--dark-grey, get-colour('dark-grey'));
    
    @include set-background-colour('light-grey');
}